:root {
  --theme-color-green: #2d9074;
  /* --theme-background-color: #fcfcfc; */
  --theme-background-color: #fff;

  --theme-color-pink: rgba(252, 237, 237, 0);
  --theme-border-radius: 15px;
}

html {
  position: relative;
  min-height: 100%;
  /* without !important it will be overwritten by antd.css imported in FindSitter/Search.js */
  height: unset !important;
  overflow-x: hidden !important;
  /* background-color: var(--theme-background-color); */
  background-color:#fdefea !important;

  --antd-wave-shadow-color: green !important;
  scroll-behavior: smooth;
}

body {
  /* padding-bottom: 14px; */
  /* margin-bottom: 60px; */
  overflow-x: hidden !important;
  text-align: center !important;
  background-color: #fdefea !important;
  font-family: 'Source Sans Pro', sans-serif !important;
}

* {
  /* font-family: 'Lato', sans-serif; */
  font-size: 15px;
  letter-spacing: 0.3px;
  font-weight: 100;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.lead {
  font-size: 40px;
}

/* without this, background will become white when applying margin-top */
.App {
  background-color: var(--theme-color-pink);
}

/* Ant range picker calendar icon */
.ant-picker-suffix {
  display: none;
}

.clear-btn {
  background: transparent;
  border: none;
  outline: none;
}

.cat_vertical {
  width: 23ch;
  height: 20ch;
  background-image: url('./assets//images/cat_vertical.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.cat-horizontal{
  width: 25ch;
  height: 15ch;
  margin-top: -45px;
  background-image: url('./assets//images/cat_horizontal.png');
  background-size: contain;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 930px) {
  .cat-horizontal {
    width: 19ch;
    height: 13ch;
    margin-top: -40px;
    margin-right: 10px;
  }
}

/* .cat-longhair{
  width: 30ch;
  height: 20ch;
  margin-top: 15px;
  background-image: url('./assets//images/cat_longhair.png');
  background-size: contain;
  background-repeat: no-repeat;
} */

.card_sphynx {
  width: 24ch;
  height: 16ch;
  background-image: url('./assets//images/sphynx.png');
  background-size: contain;
  background-repeat: no-repeat;
}

#controlled-tab-example {
  z-index: 5;
}

img {
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/* Forms */

/* .ant-input-affix-wrapper {
  padding: 7px 11px !important;
  border: 1px solid #ced4da !important;
  border-radius: 4px !important;
} */

.btn-background {
  -webkit-transition: -webkit-transform 500ms ease-out;
}
