# Dependency directories
node_modules/
.env
server/certificate
client/build/asset-manifest.json
client/build/favicon.ico
client/build/index.html
client/build/logo.png
client/build/manifest.json
client/build/precache-manifest.224a2d71e48023d48d3e92e375722ba7.js
client/build/robots.txt
client/build/service-worker.js
client/build/static/css/2.72f95031.chunk.css
client/build/static/css/2.72f95031.chunk.css.map
client/build/static/css/main.67fc99f3.chunk.css
client/build/static/css/main.67fc99f3.chunk.css.map
client/build/static/js/2.8b0ae96d.chunk.js
client/build/static/js/2.8b0ae96d.chunk.js.LICENSE.txt
client/build/static/js/2.8b0ae96d.chunk.js.map
client/build/static/js/main.d4f68e23.chunk.js
client/build/static/js/main.d4f68e23.chunk.js.map
client/build/static/js/runtime-main.09b85ec0.js
client/build/static/js/runtime-main.09b85ec0.js.map
client/build/static/media/cat_horizontal.2355277a.png
client/build/static/media/cat_vertical.cd7f8cad.png
client/build/static/media/default_profile_pic.d40830f2.jpg
client/build/static/media/location_marker.1fc72b11.png
client/build/static/media/logo.2b1abf3a.png
client/build/static/media/sphynx.61fb7597.png

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
client/build/precache-manifest.435c46b2bb4de5f423205f40470055e9.js
client/build/static/js/2.f11ae7a8.chunk.js
client/build/static/js/2.f11ae7a8.chunk.js.LICENSE.txt
client/build/static/js/2.f11ae7a8.chunk.js.map
client/build/static/js/main.601fa1aa.chunk.js
client/build/static/js/main.601fa1aa.chunk.js.map
client/build/precache-manifest.57443c9c884b677cf6bd62c423d96b24.js
client/build/static/js/main.62d5ca35.chunk.js
client/build/static/js/main.62d5ca35.chunk.js.map
