:root {
  --theme-color-peach: #ffa195;
  /* --theme-color-grey: #c5c1c7; */
  --theme-color-grey: #929292;

  --theme-border-radius: 10px !important;
}

.ant-spin-nested-loading > div > .ant-spin{
  height: 80vh;
}

/* ------------------- ant list empty display ------------------- */
.ant-list-empty-text{
  display: none;
}

/* ------------------- ant badge ------------------- */
.ant-badge-status-text{
  display:none;
}

/* ------------------- account page | settings ------------------- */
@media (max-width: 600px) {
  .settings {
    flex-direction: column;
  }

  .settings > button {
    flex: 0;
  }
}

.settings {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: justify;
}

.settings > p {
  flex: 0 50%;
}

/* ------------------- ant tooltip ------------------- */

.ant-tooltip.ant-tooltip-placement-top .ant-tooltip-content .ant-tooltip-inner{
  font-size: 0.9rem;
}

/* ------------------- ant switch button ------------------- */

.ant-switch-checked {
  background-color: #ffa195 !important;
}

/* ------------------- scroll bar ------------------- */

body::-webkit-scrollbar {
  width: 0.9em;
}
/* 
*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
} */

*::-webkit-scrollbar-thumb {
  background-color: #c5c1c7;
  outline: none;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  background: darkgrey;
}

/* ------------------- font awesome icons ------------------- */

.fas.profile{
  font-size: 15px;
  margin-right: 10px;
}

.fas.sitter-profile {
  color: var(--theme-color-peach);
  font-size: 20px;
  margin-right: 10px;
}

.profile-data-icon {
  font-size: 20px;
  margin-right: 15px;
  align-self: center;
}

.icon-group-sort .ant-radio-button-wrapper {
  margin: 0 5px !important;
}

.icon-sort-review {
  font-size: 10px;
  margin: 0 1px !important;
  color: #ffc600;
}

.icon-sort-distance {
  color: #c24136;
}

.icon-sort-distance,
.icon-sort-price {
  font-size: 12px;
  margin-right: 7px !important;
}

.icon-verified {
  font-size: 15px;
  margin: 0 5px !important;
}

/* ------------------- pagination ------------------- */
li.ant-pagination-prev button.ant-pagination-item-link,
li.ant-pagination-next button.ant-pagination-item-link,
li.ant-pagination-item {
  border-radius: var(--theme-border-radius);
}

li.ant-pagination-prev .ant-pagination-item-link svg,
li.ant-pagination-next .ant-pagination-item-link svg {
  margin-top: -5px !important;
}

li.ant-pagination-prev:hover .ant-pagination-item-link,
li.ant-pagination-next:hover .ant-pagination-item-link,
li.ant-pagination-item:hover,
.ant-pagination-item.ant-pagination-item-active,
.ant-pagination-item.ant-pagination-item-active:hover,
.ant-pagination-item.ant-pagination-item-active:focus {
  border-color: var(--theme-color-peach);
}

li.ant-pagination-prev.ant-pagination-disabled:hover .ant-pagination-item-link,
li.ant-pagination-next.ant-pagination-disabled:hover .ant-pagination-item-link {
  border-color: #d9d9d9 !important;
}

/* li.ant-pagination-prev.ant-pagination-disabled:hover
  button.ant-pagination-item-link {
  border-color: 1px solid #d9d9d9 !important;
} */

li.ant-pagination-prev:hover .ant-pagination-item-link,
li.ant-pagination-next:hover .ant-pagination-item-link,
li.ant-pagination-prev:focus .ant-pagination-item-link svg,
li.ant-pagination-next:focus .ant-pagination-item-link svg,
li.ant-pagination-item:hover a,
.ant-pagination-item.ant-pagination-item-active a,
.ant-pagination-item.ant-pagination-item-active:hover a,
.ant-pagination-item.ant-pagination-item-active:focus a {
  color: var(--theme-color-peach);
}

/* ------------------- antd tabs ------------------- */
.ant-tabs-nav-wrap {
  /* margin: 0 10px; */
  justify-content: center;
}

.ant-tabs-ink-bar {
  background-color: var(--theme-color-grey) !important;
  padding: 2px;
  z-index: -1;
}

.ant-tabs-tab {
  color: var(--theme-color-grey) !important;
  margin: 0 10px 5px 10px!important;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: var(--theme-color-grey) !important;
}

.ant-tabs-tab-btn:focus,
.ant-tabs-tab-remove:focus,
.ant-tabs-tab-btn:active,
ant-tabs-tab-remove:active {
  color: var(--theme-color-grey) !important;
}

/* ------------------- find cat sitter page: search section collapse element -------------------*/
.ant-collapse-item.ant-collapse-no-arrow {
  display: flex;
  flex-direction: column-reverse;
}

.ant-collapse-content.ant-collapse-content-active {
  overflow: visible;
}

.ant-collapse {
  width: 100%;
}

.ant-collapse-content-box{
  padding: 0 !important;
}

.ant-collapse-header {
  padding: 0 !important;
  align-self: flex-end;
  line-height: 1 !important;
  margin-top: -10px !important;
  color: #6d6c6c !important;
}

/* ------------------- google map Info Window close button ------------------- */
.gm-style .gm-style-iw-c {
  overflow: visible !important;
}

.gm-ui-hover-effect {
  /* background: #4e766b !important; */
  opacity: 1;
  border-radius: 50%;
  background: #FDEFEA !important;
  top: -10px !important;
  right: -10px !important;
  width: 26px !important;
  height: 26px !important;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.3) !important;
}

.gm-ui-hover-effect img {
  margin: 0 6px !important;
  padding: 0 !important;
}